Repository walteroliveira95/Devops-aula07, pull requests merged in 2018-09, with the labels that each got.

#6 Integrar testes v1.0
  src/testes_inic.py
  src/testes_jogar.py
Labels: testes

#7 Integrar implementação v1.0
  src/jogovelha.py
Labels: programação

#8 Integrar arquitetura v1.0
  docs/arquitetura.md
Labels: arquitetura

#14 Create valteste.md
  valteste.md
Labels: testes

#15 Create analise.md
  docs/analise.md
Labels: análise

#18 Create jogadas.py
  src/jogadas.py
Labels: programação

#16 Create arquitetura_validacao.md
  docs/arquitetura_validacao.md
Labels: arquitetura

#19 Gerar release v1.1
  docs/analise.md
  docs/arquitetura_validacao.md
  src/jogadas.py
  valteste.md
Labels: operações
